<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<welcome-file-list>
		<welcome-file>
			mypage.html
		</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>simple</servlet-name>
		<servlet-class>ru.mypage.web.servlet.simple</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>simple</servlet-name>
		<url-pattern>/simple</url-pattern>
	</servlet-mapping>
</web-app>